<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOGS" value="./logs" />

    <!-- Console Appender -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} %highlight(%-5level) [%blue(%t)] %yellow(%C{1}): %msg%n%throwable</pattern>
        </encoder>
    </appender>

    <!-- File Appender -->
    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/autotrader.log</file>
        <encoder>
            <pattern>%d{ISO8601} %-5level [%thread] %logger{36}: %msg%n%throwable</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archived/autotrader-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- Log levels for specific packages -->
    <logger name="nl.jimkaplan.autotrader" level="TRACE"/>
<!--    <logger name="nl.jimkaplan.autotrader.controller" level="DEBUG" />-->
<!--    <logger name="nl.jimkaplan.autotrader.client" level="DEBUG" />-->
<!--    <logger name="nl.jimkaplan.autotrader.service" level="DEBUG" />-->

    <!-- Spring Framework -->
    <logger name="org.springframework" level="INFO" />
    <logger name="org.springframework.web" level="INFO" />

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="Console" />
        <appender-ref ref="RollingFile" />
    </root>

    <!-- Production profile configuration -->
    <springProfile name="production">
        <root level="INFO">
            <appender-ref ref="RollingFile" />
        </root>
    </springProfile>

    <!-- Development profile configuration -->
    <springProfile name="!production">
        <root level="INFO">
            <appender-ref ref="Console" />
        </root>
    </springProfile>
</configuration>
